.table{
    background-color: #fff;
    box-shadow: 4px 2px 10px 3px #ccc;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 100%;
    thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
        border-radius: 0;

    }
    th.mat-sort-header-sorted {
        color: black;
    }
    
}
.filterForm{
    width: 100%;
    border: none;
    background-color: #fff;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff; 
}
